@import 'node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';
/*@import 'node_modules/bootstrap/dist/css/bootstrap.css';*/

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
