<app-modal>
  <div class="app-modal-header">
    <h3>Add New Routine</h3>
  </div>
  <div class="app-modal-body">
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !routineName.valid }">
        <label for="routineName">Routine Name</label>
        <input type="text" class="form-control" name="routineName" [(ngModel)]="model.routineName" #routineName="ngModel" required />
        <div *ngIf="f.submitted && !routineName.valid" class="help-block">Name of routine is required</div>
      </div>
    </form>
    <hr>
    <div class="add-exercise-container">
      <div class="add-exercise-title">
        Add Exercise
      </div>
      <template #rt let-r="result" let-t="term">
        <div class="label">{{r.level}}</div>
        {{ r.name}}
      </template>
      <input type="text" class="form-control" #input
             [(ngModel)]="typeaheadModel" 
             [ngbTypeahead]="search" 
             [resultFormatter]="formatter" 
             [resultTemplate]="rt"
             (selectItem)="onSelect($event, input)"/>
    </div>
    <div class="selected-exercises-container">
      Selected Exercises:
      <pre><button class="btn btn-outline-primary btn-sm btn-exercise" *ngFor="let exercise of selectedExercises" (click)="remove($event, exercise)">
          <span class="badge">{{exercise.level}}</span><label class="label-exercise">{{exercise.name}}</label>
        </button>
      </pre>
    </div>
  </div>
  <div class="app-modal-footer">
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"  [disabled]="!routineName.valid || loading" (click)="save()">Save</button>
  </div>
</app-modal>