<div class="exercise-container">
  <div class="exercise unselectable"
       [ngClass]="{'exercise-completed': completedExercise, 'disabled': !canStartExercise, 'hide-element': exercise.id === 'empty'}"
       (mouseup)="onClick($event)"
       on-mouseover="onMouseOver()"
       on-mouseleave="onMouseLeave()"
       oncontextmenu="return false">
    <div>
      <span class="badge">{{exercise.level}}</span> {{exercise.name}}
    </div>
    <div class="footer"><span class="title-box">{{exercise.currentPoints}} / {{exercise.maxPoints}}</span></div>
  </div>
  <div class="popup" #popupContainer>
    <div class="title-box">{{title}}</div>
    <ng-container [ngSwitch]="true">
      <ul *ngSwitchCase="exercise.prerequisites.length > 0">
        <li *ngFor="let prereq of exercise.prerequisites"
            [ngClass]="{'prereq-completed': prereq.currentPoints === prereq.maxPoints }">{{prereq.name}}
        </li>
      </ul>
      <ng-container *ngSwitchCase="exercise.prerequisites.length === 0">
        <span class="prereq-completed">No prereqs</span>
      </ng-container>
    </ng-container>
  </div>

</div>