* {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.link {
  float: right;
  margin-top: 5px;
  top: 50%;
}

.active {
  background-color: #4CAF50;
  color: white;
}

#nav-bar {
  display:block;
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index: 9999;
}

.nav-bar-wrapper {
  height: 100%;
}