<ul id="nav-bar">
  <li><h1>{{title}}</h1></li>
  <container-element [ngSwitch]="isLoggedIn">
    <li class="link" *ngSwitchCase="false"><a routerLink="/login" routerLinkActive="active">Login/Register</a></li>
    <li class="link" *ngSwitchCase="true"><a (click)="logout()">Logout</a></li>
  </container-element>
  
  <li class="link"><a routerLink="/credits" routerLinkActive="active">About</a></li>
  <li class="link"><a routerLink="/updates" routerLinkActive="active">Updates</a></li>
  <li class="link"><a routerLink="/exercises" routerLinkActive="active">Home</a></li>
</ul>
<div id="router-container">
  <router-outlet></router-outlet>
</div>