<template #tipContent>
  <a *ngFor="let prereq of exercise.prerequisites">
    <span [ngClass]="{'prereq-completed': prereq.currentPoints === prereq.maxPoints }">{{prereq.name}}</span>
  </a>
  
</template>
<div class="exercise unselectable"
     [ngClass]="{'exercise-completed': completedExercise, 'disabled': !canStartExercise, 'hide-element': exercise.id === 'empty'}"
     [ngbTooltip]="tipContent"
     (mouseup)="onClick($event)">
  <div class="header"><span class="title-box">{{title}}</span></div>
  <div>
    <span class="badge">{{exercise.level}}</span> {{exercise.name}}
  </div>
  <div class="footer"><span class="title-box">{{exercise.currentPoints}} / {{exercise.maxPoints}}</span></div>
</div>