<template #tipContent>
  <a *ngFor="let prereq of exercise.prerequisites">
    <span [ngClass]="{'prereq-completed': prereq.currentPoints === prereq.maxPoints }">{{prereq.name}}</span>
  </a>
</template>

<a class="exercise unselectable" 
   *ngIf="exercise.id !== 'empty'"
   [ngbTooltip]="tipContent" 
   [ngClass]="{'exercise-completed': completedExercise, 'disabled': !canStartExercise }"
   (mouseup)="onClick($event)"
   oncontextmenu="return false">
  <span class="badge">{{exercise.level}}</span> {{exercise.name}}
  <span>{{exercise.currentPoints}} / {{exercise.maxPoints}}</span>
</a>